# I`ll manually add .md files
*.md

# Go binaries
*.exe
*.test
*.out
*.prof

# Build output
/bin/

# Data files
*.raw

# Build output
/tmp/
dist/
coverage.*

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~
